// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,100,200);

.body{
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
}

#ct {
    display:none;
}
#new {
    font-size:18px;
    font-weight:300;
    margin-left: 1%;
    background:none;
    border:none;
    margin-top:10px;
    color: #4D4D4D;
}

#new:hover, #share:hover, #in:hover, #inn:hover{
    color: #7ffdec;
    font-weight:400;
}
#new:focus, #share:focus, #in:focus, #inn:focus{
   border:none;
   outline:none;
   box-shadow: none;
    background: linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
	-webkit-background-clip: text;
}

#share {
    font-size: 18px;
    font-weight: 300;
    margin-left: 1%;
    margin-top: 5px;
    background: none;
    border: none;
}

.create{
  background:none;
  border:none;
  font-size:1em;
  color: #696969;

}

#line {
    border-bottom: rgba(0, 0, 0, 0.43);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-left: 5%;
    margin-top: -4px;
    width:90%;
}

.belongs {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 400;
}

.pessoa {
    list-style-type: none;
    font-size: 15px;
    font-weight: 300;
    margin-left: -22px;
}

.update{
    font-size:18px;
    display: none;
    padding-bottom:11px;
    margin-top: -35px;
    font-weight:300;
}

.texto, #note_title, #note_description{
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width:auto;
    padding-right: 35px;
}

.tabs{
    padding-bottom:11px;
}

.tabs a{
    font-size:18px;
    font-weight:300;
    text-decoration: none;
    color: #4D4D4D;
}
.tabs{
    list-style:none;
    width:120%;
}

#lista_tabs{
    margin-top: 90px;
    margin-left:-9%;
}


.bot{
  border:none;
  margin-left: 10px;
  background:url(done.svg);
  background-repeat: no-repeat;
  width: 20px;
  background-size: 19px auto;
}

.edita{
    width: 16px;
    margin-top: -6px;

}

.titulo{
    background: -webkit-linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
    background: -moz-linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
    background: -o-linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
    background: linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: rgba(79, 79, 79, 0.6);
    font-size: 22px;
    font-weight: 300;
}

.tabs a:hover{
    background: linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration:none;
    font-weight:400;
}


#in {
    font-size: 18px;
    font-weight: 300;
    margin-left: 0.5%;
    margin-top: 19px;
    background: none;
    border: none;
    color: rgba(79, 79, 79, 0.6);
}

#inn {
    font-size: 18px;
    font-weight: 300;
    margin-left: 0.5%;
    margin-top: 19px;
    background: none;
    border: none;
    color: rgba(79, 79, 79, 0.6);
}

.nomeC{
    color: #666;
    text-decoration: none;
    font-size: 25px;
    margin-left: -61px;

}
.lista {
    list-style-type: none;
    margin-top: 22px;
}

.bot2{
    border: none;
    margin-left: 0px;
    background: url(done.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 18px;
    background-size: 25px auto;
}

.texto2 {
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: auto;
    font-size: 25px;
    font-weight: 400;
    margin-left: -60px;
    color: #999;
    margin-top: -15px;
    padding-right: 90px;
}

.texto3 {
    outline: none;
    border-style: none;
    width: auto;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0px;
    color: #666;
    margin-top: 0px;
}

.texto6 {
    outline: none;
    border-style: none;
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0px;
    color: #666;
    margin-top: 0px;
    padding-right:-30px;
}


span.coco {
    display: inline-flex;
}

.bot3{
    border: none;
    margin-left: 0px;
    background: url(done.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 23px;
    background-size: 27px auto;
}

.inn {
    color: #76FEB0;
    font-size: 32px;
    font-weight: 500;
    margin-top: -3px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
     border: none;
    margin-left: 0px;
    background: none;
    cursor: pointer; 
    cursor: hand; 
  }

.x{
    background: linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 700 !important;
    font-size: 20px;
}

li.item {
    list-style-type: circle;
    font-size: 18px;
    color: #666666;
    margin-left: -60px;
}

input.checklist
{
width: 50x;
height: 50px;
}

.nav-tabs > li > a {
    font-size: 22px;
    font-weight: 300;
    color: rgba(79, 79, 79, 0.6);
}

.nav-tabs > li > a:hover {
    font-size: 22px;
    font-weight: 300;
    border-color: #ddd #ddd rgba(255, 255, 255, 0);
    border-bottom: none;
    background: linear-gradient(135deg, #7ffdec 0%, #73ff9f 57%, #73ff9f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(115, 255, 159, 0);
}


.nav-tabs > li.active > a:hover {
    text-decoration: none;
    background-color: rgba(115, 255, 159, 0);
    border-bottom: none;
    color: rgba(79, 79, 79, 0.6);
    font-size: 22px;
    font-weight: 300;
}

.modal-body {
    position: relative;
    padding: 15px;
    display: table-caption;
}

label#desc {
    margin-top: 35px;
}

.titnote{
    outline: none;
    border-style: none;
    width: 1100px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0px;
    color: #666;
    margin-top: 27px;
    border-bottom-color: white;
    color: #666;
    text-decoration: none;
    font-size: 25px;
    margin-left: -22px;
}

.textonote{
    outline: none;
    border-style: none;
    width: 1100px;
    height: 460px;
    font-size: 18px;
    font-weight: 400;
    margin-left: -25px;
    color: #666;
    margin-top: 0px;
    border-bottom-color: white;
    overflow: hidden;

}

li.check {
    list-style-type: none;
    display: table-caption;
}

textarea#note_description{
    width: 900px;
    height: auto;
}

span.apaga {
    display: none;
}

input#pointlist_title {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.modal-header{
  border:none!important;
  padding:40px!important;
}

.myModalLabel{
  text-align:center;
  font-weight:300;
}

.modal-body{
  border:none!important;
  padding:40px!important;
}
.modal-footer{
  border:none!important;
  padding:40px!important;
  text-align: center!important;
}

.modal-content{
  border-radius: 0px!important;
  box-shadow:none!important;
  border:none!important;
}

.modal-title {
    text-align: center!important;
    font-weight: 300!important;
  }

.texto7{
width: 400px;
margin-left: 59px;
}

.btn-create{
border-radius: 0px!important;
width: 400px!important;
margin-top: -60px!important;
}


.nomeP{
    color: #666;
    text-decoration: none;
    font-size: 25px;
    margin-left: -23px;
}

li.point {
    display: none;
}

li.pointO {
    list-style-type: none;
    display: table-caption;
    margin-top: 27px;
    width: 400px;
}

.intro{
    color: #666;
    text-decoration: none;
    font-size: 20px;
    margin-left: 0px;
    margin-left: 0px;
    font-weight: 300;

}

input[type="checkbox"] {
    margin: 7px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}


li.item2 {
    list-style-type: circle;
    font-size: 18px;
    color: #666666;
    margin-top: -9px;
    margin-left: -19px
}

input#checklist_item_description {
    border-bottom-color: darkgray;
}

input#pointlist_item_title {
    width: 200px;
    border-bottom-color: darkgray;
}

span.inn {
    margin-left: 7px;
}