// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ct {
    display:none;
}
#new {
    font-family: futura std;
    font-size:18px;
    margin-left: 1%;
}

.create{
  background:none;
  border:none;
  font-size:1em;
  color: #696969;
    
}


.texto {
 outline:none;
 border:none;
}


.update{
    display:none;
    
}